body{
    margin: 0px;
}


.menu{
    height: 100px;
    width: 100%;
    background-color: black;
    color: wheat;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    justify-items: center;


}